body {
	background-color: lightblue;
}

img.bild{
	width: 300px; 
	height: 300px;
	background-color: lightblue;
}

img.bild1{
	width: 300px; 
	height: 300px;
	background-color: lightblue;
	border-collapse: collapse;
}

.glass {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	/*grid-template-rows: 2;*/
}

.glass1 {
	
}

.border {
	border: 1px lime;
	border-collapse:collapse;
	background-color:lime;
	display:inline;
	margin:60px
}
